* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  body {
    overflow: hidden;
  }
}

body,
h1,
h2,
h3,
p,
a,
label,
input {
  font-family: "Poppins";
}

body {
  background-color: #333646;
}

h1,
h2,
h3 {
  color: white;
  font-weight: bold;
}

p {
  color: #9fa0a7;
  font-weight: lighter;
}

a {
  color: #ffc25c;
}

label {
  color: #9fa0a7;
}

.social-links a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.25em;
}

p {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

label,
p,
a {
  font-size: 1.2em;
}

.social-links .social-link {
  font-size: 2em;
  margin-right: 0.25em;
}

.h-100 {
  min-height: 100vh;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-padding {
  padding-top: 8em;
  padding-bottom: 8em;
}

section.dark {
  background-color: #252734;
}

.name-separator {
  display: inline-block;
  width: 2em;
  height: 0.5em;
  background-color: #ffc25c;
}

.stat {
  display: inline-block;
  margin-right: 2em;
}

.stat-number {
  font-size: 4em;
  color: #ffc25c;
}

.stat-title {
  display: inline-block;
  font-size: 1.25em;
  color: white;
}

.skill-card {
  display: inline-block;
  background-color: #424657;
  color: white;
  padding: 5em;
}

.skill-card i {
  font-size: 1.5em;
  color: white;
  vertical-align: top;
  margin-right: 0.25em;
}

.skill-card h3 {
  display: inline-block;
  font-weight: lighter;
}

@media screen and (min-width: 992px) {
  .skills-section .container {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 992px) {
  .skills-section {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .skills-section .skill-card {
    margin-bottom: 2em;
  }
  .skills-section h2 {
    text-align: center;
    margin-bottom: 2em;
  }
}

form .form-group {
  padding-top: 1em;
  padding-bottom: 1em;
}

form label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

form input,
form [contenteditable] {
  border: none;
  background: none;
  color: white;
  border-bottom: solid 1px #888;
  outline: none;
  -webkit-transition: border-bottom-color 1s;
  transition: border-bottom-color 1s;
  width: 100%;
  font-size: 1.5em;
}

form input:focus,
form [contenteditable]:focus {
  border-bottom-color: #fff;
}

form [contenteditable] {
  line-height: 1.5em;
}

form button {
  border: none;
  background: none;
  color: #ffc25c;
  text-decoration: underline;
  font-size: 1.2em;
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 1px solid #888888;
}

.blog-post {
  margin: 1em 0;
}

.blog-post a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0.5em 0;
  line-height: 1.25em;
  font-weight: lighter;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.blog-post a:hover {
  color: #ffc25c;
}

.profile-image {
  width: 100%;
  border-radius: 100%;
}

.center-section {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */